/* page */

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #cbadad;
  color:#f5f5f5;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.header {
  grid-area: header;
  text-align: center;
}

.nav {
  grid-area: nav;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c59d9d;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #a26161;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* media queries */

@media (min-width: 768px) {
  figure {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:50px;
    padding:0px;
  }

  .nav ul li{
    float: left;
  }

  #pic {
    width: 100%; 
    height: auto;
    border-radius: 15px;
    display: block;
  }
 
  h1 {
    font-size: 40px;
  }

}

@media (min-width: 992px) {
  figure {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:100px;
    padding:10px;
  }

  .nav ul li{
    float: left;
 }
 
  #pic {
    width: 100%; 
    height: auto;
    border-radius: 15px;
    display: block;
  }
}

#pic {
  width: 100%; 
  border-radius: 15px;
  display: block;
}
