/* Styling for the background */
body {
  background-image: url("bamboo-807674_640.jpg");
  background-color: #b6ad4f58;
}


/* Styling for the picture */
#pic {
  width: 650; border-radius: 15px;
}

/* font */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color:#c82318;text-align: center;
}

figcaption{
  color:#c82318;text-align: center;
}

h6 {
  color:#c82318;text-align: center;
}

/* menu bar (code from w3schools)*/
#menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c82318;
}

#menubar li {
  float: left;
}

#menubar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menubar li a:hover {
  background-color: #621111;
}


#notmenu {
  list-style-type:circle;
  color: #c82318;
}